.IconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.icon {
  height: 40px;
  width: 40px;
  mask-repeat: no-repeat;
  mask-size: 100%;
}
